<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barcode Inventory System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="site-header">
    <img src="/static/college_logo.png" alt="College Logo" class="college-logo">

    <div class="header-text">
        <h2>Barcode Based Inventory System</h2>
        <p class="subtitle">Experiential Learning - Python</p>
        <p class="subtitle">
            Developed by: <strong>Sharadwath S D</strong> | USN: <strong>RVCE25BCY030</strong><br>
            <strong>Adarsh C</strong> | USN: <strong>RVCE25BCY033</strong><br>
            <strong>Soham G Devarahalli</strong> | USN: <strong>RVCE25BCY028</strong><br>
            <strong>Advik Kamath</strong> | USN: <strong>RVCE25BCY023</strong>
        </p>
    </div>
</div>

<div class="tabs">
    <button onclick="showTab('inventory')">Inventory</button>
    <button onclick="showTab('logs')">Time Log</button>
</div>

<!-- INVENTORY TAB -->
<div id="inventory" class="tab">

    <h3>Inventory Overview</h3>
    <canvas id="stockChart" width="400" height="200"></canvas>

    <h3>Add Item</h3>
    <form onsubmit="addItem(); return false;">
        <input type="text" id="add_barcode" placeholder="Scan / Enter Barcode" required>
        <input type="number" id
